<div id="avatar_form">
	<%= form_for @user, :html => {:multipart => true} do |f| %>
		<%= f.label :avatar, "Wskaż plik" %>
		<%= f.file_field :avatar %>
		<%= f.label :remote_avatar_url, "lub podaj URL" %>   
    	<%= f.text_field :remote_avatar_url %>
		<%= f.submit "Zapisz" %>
	<% end %>
</div>