<%= render 'shared/without_map' %>
		<div id="user-form">
			<%= form_for(@user) do |f| %>
				<%= render 'shared/error_messages', :object => f.object %>
				<div class="form-field">
					<%= f.label :password, "Nowe hasło:" %>
					<%= f.password_field :password, :placeholder => "hasło" %>
				</div>
				<div class="form-field">
					<%= f.label :password_confirmation, "Powtórz nowe hasło:" %>
					<%= f.password_field :password_confirmation, :placeholder => "hasło" %>
				</div>
				<div class="form-btn">
					<%= f.submit "Zapisz", :class => "btn-big" %>
				</div>
			<% end %>
		</div>
	</div> <!-- END content -->
</div> <!-- END without-map -->