<div id="without-map">
	<%= form_tag users_path, :method => 'get', :id => "search-user" do %>
		<%= text_field_tag :search, params[:search], :placeholder => "Szukaj użytkownika", :id => "search-text" %>
		<%= submit_tag "Search", :id => "search-btn", :name => nil %>
	<% end %>

	<h2 class="h2-top clear"><%= @title_header_top %></h2>
	<div class="h2-bg">
		<h2><%= @title_header %></h2>	
	</div>
	<div id="content">
		<div class="users-index-table">
		<table class="users-index big-table">
			<thead>
				<tr>
					<th></th>
					<th>Nazwa</th>
					<th>Avatar</th>
					<th>Miejscowość</th>
					<th>Dodane trasy</th>
					<th>Kilometry</th>
				<% if current_user %>	
					<% if current_user.admin? %>
						<th>Usuń użytkownika</th>
					<% end %>
				<% end %>
				</tr>
			</thead>
			<tbody>
			<%= render 'users' %>
			</tbody>
		</table>
		
		<%= will_paginate %>
		
		</div> <!-- END users-index-table -->

	</div> <!-- END content -->
</div> <!-- END without-map -->


