<%= render 'shared/with_map' %>
	
		<div class="user-profile">
			<%= hidden_field_tag 'user_id', @user.id %>
			<div class="user-avatar">
				<%= user_avatar @user %>
			</div>
			<div class="user-info">
				<h4><%= @user.username %></h4>
				<ul>
					<% if @user.name %><li>Imię: <%= @user.name %></li><% end %>
					<% if @user.age %><li>Wiek: <%= @user.age %></li><% end %>
					<% if @user.place %><li>Miejscowość: <%= @user.place %></li><% end %>
					<li>Płeć: mężczyzna</li>
					<% if correct_user? %>
					<li class="edit-user"><%= link_to "Edytuj swoje dane", edit_user_path(@user) %></li>
					<% end %>
				</ul>
			</div>
			<div class="user-actions">
				<div id="user_follow_form">
				<% if current_user %>
				<% unless current_user? %>
					<% if current_user.following?(@user) %>
						<%= render 'unfollow' %>
					<% else %>
						<%= render 'follow' %>
					<% end %>
				<% end %>
				<% end %>

				</div>
				
				<%= link_to "Wszystkie trasy", "#" %>
			</div>
			
		</div>
		<div class="clear"></div>
		
		<h4 class="user_numbers">Liczby</h4>
		<table class="user-numbers" summary="Users numbers">
			<tr>
				<td>Dodane trasy:</td>
				<td><%= link_to @routes_all.count, routes_user_path(@user) %></td>
			</tr>
			<tr>
				<td>Przejechane trasy:</td>
				<td><%= link_to @workouts_all.count, workouts_user_path(@user) %></td>
			</tr>
			<tr>
				<td>Kilometry (dodane):</td>
				<% if @user.total_distance %>
				<td><%= @user.total_distance.round %> km</td>
				<% else %>
				<td>0 km</td>
				<% end %>
			</tr>
			<% if @user.total_workouts_distance %>
			<tr>
				<td>Kilometry (przejechane):</td>
				<td><%= @user.total_workouts_distance.round %> km</td>
			</tr>
			<% end %>
			<% if @total_time > 0 %>
			<tr>
				<td>Czas na rowerze:</td>
				<td><%= Time.at(@total_time).utc.strftime("%Hh %Mm") %></td>
			</tr>
			<tr>
				<td>Średnia prędkość:</td>
				<td><%= (@workouts_total_distance * 3600 / @total_time).round %> km/h</td>
			</tr>
			<% end %>
			<tr>
				<td>Ulubione:</td>
				<td><%= link_to @likes.count, favorite_routes_user_path(@user) %></td>
			</tr>
			<tr>
				<td class="following">Obserwowani:</td>
				<td><%= link_to @user.following.size, following_user_path(@user) %></td>
			</tr>
			<tr>
				<td class="followers">Obserwujący:</td>
				<td><%= link_to @user.followers.size, followers_user_path(@user) %></td>
			</tr>
			
		</table>
		
		<%= link_to "Statystyki", stats_user_path(@user), :class => "user-stats-btn btn-base" %>

	<div class="clear"></div>
	<h4 class="user_last_route">Ostatnie trasy:</h4>
	<ul id="last_routes_tabs">
		<li><%= link_to "dodane", "#", :id => "last_routes_added_btn", :class => "selected" %></li>
		<li><%= link_to "ulubione", "#", :id => "last_routes_favorite_btn" %></li>
		<li><%= link_to "obserwowani", "#", :id => "last_routes_following_btn" %></li>
	</ul>
	<div class="clear"></div>
	<div id='last_route_container'>
		<%= render 'last_routes_added' %>
	</div>
	<div class="clear"></div>

	</div>
	</div>
	<div id="map"></div>
</div>