<div id="without-map">
	<%= form_tag routes_path, :method => 'get', :id => "search-route" do %>
		<%= text_field_tag :search, params[:search], :placeholder => "Szukaj trasę", :id => "search-text" %>
		<%= submit_tag "Search", :id => "search-btn", :name => nil %>
	<% end %>

	<h2 class="clear">Statystyki: <%= link_to @user.username, user_path(@user) %></h2>
	<div id="content">
			
		<%= hidden_field_tag 'user_id', @user.id %>
		<div id="stats_container">
			<div id="stats_actions">
				<%= link_to "Dni", "#", :id => "stats_day_btn" %>
				<%= link_to "Tygodnie", "#", :id => "stats_week_btn" %>
				<%= link_to "Miesiące", "#", :id => "stats_month_btn" %>
			</div>
			<%= link_to "Poprzednie", "#", :id => "stats_previous_btn" %>
			
			<div id="charts_container">
				<div id="script_chart"></div>
				<div id="routes_chart"></div>
				<div id="distance_chart"></div>
				<div id="climbup_chart"></div>
			</div>
			<%= link_to "Następne", "#", :id => "stats_next_btn" %>
		</div>
	</div> <!-- END content -->
</div> <!-- END without-map -->