<br>
<br>
<br>
<br>
<h1>Dodane trasy</h1>
<h3><%= @days_since_first %> dni od pierwszej trasy</h3>
<table>
	<tr>
	<% ((@total_routes.size) - 1).downto(0) do |i| %>
		<td><%= @total_routes[i] %></td>
	<% end %>
	</tr>
	<tr>
	<% ((@total_routes.size) - 1).downto(0) do |i| %>
		<td><%= l i.days.ago, :format => '%A (%Y.%m.%d)' %></td>
	<% end %>
	</tr>
</table>

<h1>kilometry</h1>
<table>
	<tr>
	<% ((@total_distance.size) - 1).downto(0) do |i| %>
		<td><%= @total_distance[i].round(2) %></td>
	<% end %>
	</tr>
	<tr>
	<% ((@total_distance.size) - 1).downto(0) do |i| %>
		<td><%= l i.days.ago, :format => '%A (%Y.%m.%d)' %></td>
	<% end %>
	</tr>
</table>

<h1>czas</h1>
<table>
	<tr>
	<% ((@total_time.size) -1 ).downto(0) do |i| %>
		<td><%= time_to_string @total_time[i] %></td>
	<% end %>
	</tr>
	<tr>
	<% ((@total_time.size) -1 ).downto(0) do |i| %>
		<td><%= l i.days.ago, :format => '%A (%Y.%m.%d)' %></td>
	<% end %>
	</tr>
</table>