<div id="without-map">
	<%= form_tag routes_path, :method => 'get', :id => "search-route" do %>
		<%= text_field_tag :search, params[:search], :placeholder => "Szukaj trasę", :id => "search-text" %>
		<%= submit_tag "Search", :id => "search-btn", :name => nil %>
	<% end %>

	<h2 class="h2-top clear"><%= @title_header_top %></h2>
	<div class="h2-bg">
		<h2><%= link_to @user.username, user_path(@user) %></h2>	
	</div>
	<div id="content">
		<div class="routes-index-table">
			<%# render 'routes/routes' %>

					<table class="routes-index big-table">
			<thead>
				<tr>
					<th></th>
					<th>Nazwa</th>
					<th>Dystans</th>
					<th>Wzniesienia</th>
					<th>Nawierzchnia</th>
					<th>Ocena</th>
					<th>Czas jazdy</th>
					<th>Średnia</th>
					<th>Data dodania</th>
					<th>Użytkownik</th>
					<th class="like"><span></span></th>
					<th class="comments"><span></span></th>
				</tr>
			</thead>
			<tbody>
			<% i = 0 %>
			<% if params[:page] %>
			<% i = i + ((params[:page].to_i - 1) * 10) %>
			<% end %>
			<% @workouts.each do |workout| %>
				<tr>
					<td><%= i += 1 %></td>
					<td class="title"><%= link_to workout.route.title, route_path(workout.route) %></td>
					<td class="distance"><%= workout.route.distance %> km</td>
					<td class="altitude"><%= workout.route.altitude %> m</td>
					<td class="surface"><%= workout.route.surface%></td>
					<td class="rating">
						
						<ul class="rating <%= workout.route.id %>">
							<li class="val"><%= workout.route.rating %></li>
							<li class="1">1</li>
							<li class="2">2</li>
							<li class="3">3</li>
							<li class="4">4</li>
							<li class="5">5</li>
						</ul>
					</td>
					<td class="time"><%= workout.time_to_string %></td>
					<% if workout.avg_speed %>
					<td class="avg_speed"><%= workout.avg_speed %> km/h</td>
					<% else %>
					<td></td>
					<% end %>
					<td class="created_at"><%= l workout.created_at.localtime, :format => "%y.%m.%d %H:%I" %></td>
					<td class="user"><%= link_to workout.route.user.username, user_path(workout.route.user) %></td>
					<td class="like"><%= workout.route.show_total_likes %></td>
					<td class="comments"><%= workout.route.show_total_comments %></td>
				</tr>
			<% end %>
			</tbody>
		</table>

		</div> <!-- END routes-index-table -->


		<%= link_to raw("&larr; Powrót"), user_path(@user), :id => "backto_user", :class => "btn-base" %>
	</div> <!-- END content -->
</div> <!-- END without-map -->