<%= render 'shared/with_map' %>
		<div id="last-routes" class="routes-list">
			<ul>
				<li><div class="route">
					<div class="route-img">
						<%= image_tag("route-map-small-img.jpg", :alt => "Miniaturka trasy" ) %>
					</div>
					<div class="route-info">
						<h4>Przejazd po parku w Chorzowie</h4>
						<ul>
							<li>30 km, asfalt <%= image_tag "profile-green.png", :alt => "Profil trasy" %> 61 m</li>
							<li>Dodał: <%= link_to "Diamond", "#" %>, 2 dni temu</li>
						</ul>
					</div>
				</div></li>
				
				<li><div class="route">
					<div class="route-img">
						<%= image_tag("route-map-small-img.jpg", :alt => "Miniaturka trasy" ) %>
					</div>
					<div class="route-info">
						<h4>Przejazd po parku w Chorzowie</h4>
						<ul>
							<li>30 km, asfalt <%= image_tag "profile-green.png", :alt => "Profil trasy" %> 61 m</li>
							<li>Dodał: <%= link_to "Diamond", "#" %>, 2 dni temu</li>
						</ul>
					</div>
				</div></li>
				<li><div class="route">
					<div class="route-img">
						<%= image_tag("route-map-small-img.jpg", :alt => "Miniaturka trasy" ) %>
					</div>
					<div class="route-info">
						<h4>Przejazd po parku w Chorzowie</h4>
						<ul>
							<li>30 km, asfalt <%= image_tag "profile-green.png", :alt => "Profil trasy" %> 61 m</li>
							<li>Dodał: <%= link_to "Diamond", "#" %>, 2 dni temu</li>
						</ul>
					</div>
				</div></li>	<li><div class="route">
						<div class="route-img">
							<%= image_tag("route-map-small-img.jpg", :alt => "Miniaturka trasy" ) %>
						</div>
						<div class="route-info">
							<h4>Przejazd po parku w Chorzowie</h4>
							<ul>
								<li>30 km, asfalt <%= image_tag "profile-green.png", :alt => "Profil trasy" %> 61 m</li>
								<li>Dodał: <%= link_to "Diamond", "#" %>, 2 dni temu</li>
							</ul>
						</div>
					</div></li>
					<li><div class="route">
						<div class="route-img">
							<%= image_tag("route-map-small-img.jpg", :alt => "Miniaturka trasy" ) %>
						</div>
						<div class="route-info">
							<h4>Przejazd po parku w Chorzowie</h4>
							<ul>
								<li>30 km, asfalt <%= image_tag "profile-green.png", :alt => "Profil trasy" %> 61 m</li>
								<li>Dodał: <%= link_to "Diamond", "#" %>, 2 dni temu</li>
							</ul>
						</div>
					</div></li>
			</ul>
		</div>
		</div>
	</div>
	<div id="map"></div>
</div>




<div class="clear"></div>
<footer>
	<div id="footer-inner">
		<div id="col-1" class="footer-col">
			<h3>Nawigacja</h3>
					<ul id="footer-nav">
						<li><%= link_to "Start", root_path %></li>
						<li><%= link_to "Znajdź trasę", test_path %></li>
						<li><%= link_to "Dodaj trasę", "#" %></li>
						<li><%= link_to "Trasy", "#" %></li>
						<li><%= link_to "Użytkownicy", users_path %></li>
					<% if signed_in? %>
						<li><%= link_to "Profil", user_path(current_user) %></li>
					<% end %>
						</ul>


		</div>
		<div id="col-2" class="footer-col">
			<h3>o 76rowerów</h3>
			<p>Serwis umożliwia zarządzanie trasami rowerowymi, możesz przeglądać trasy, które znajdują się aktualnie w serwisie, dodawać nowe. Dodatkowo gdy założysz konto masz dostęp do statystyk, możesz dodawać trasy jako ulubione, komentować trasy innych a nawet dodać innych użytkowników do obserwowanych dzięki czemu będziesz wiedział o wszystkich dodanych przez nich trasach.</p>
		</div>

		<div id="col-3" class="footer-col">
			<h3>Kontakt</h3>
			<div id="contact-form">
				<form action="#" id="contact">
						<div class="form-field">
							<label for="contact-name">Imię:</label>
							<input id="contact-name" type="text" name="contact-name" value="" placeholder="Imię">
						</div>
						<div class="form-field">
							<label for="contact-email">Email:</label>
							<input id="contact-email" type="text" name="contact-email" value="" placeholder="adres@email.com">
						</div>
						<div class="form-field">
							<label for="contact-message">Wiadomość:</label>
							<textarea id="contact-message" name="contact-message" placeholder="Wiadomość..."></textarea>
						</div>
						<div class="form-btn">
							<input id="contact-submit" type="submit" class="btn-big" name="contact-send" value="Wyślij">
						</div><!-- / -->
				</form>
			</div><!-- /contact-form -->
		</div>
	</div><!-- /footer-inner -->
</footer>



