<%= render 'shared/with_map' %>
		<div id="last-routes" class="routes-list">		
			<ul>
			<% @routes.each do |route| %>
				<li><div class="route">
					<div class="route-img">
						<%= image_tag("route-map-small-img.jpg", :alt => route.title ) %>
					</div>
					<div class="route-info">
						<h4><%= truncate route.title, :length => 31 %></h4>
						<ul>
							<li><%= route.distance %>, <%= route.surface %> <%= image_tag "profile-green.png", :alt => "Profil trasy" %> <%= route.altitude %></li>
							<li>Dodał: <%= link_to "Diamond", "#" %>, 2 dni temu</li>
						</ul>
					</div>
				</div></li>
			<% end %>
			</ul>
		</div> <!-- END last-routes -->

		<%= link_to "Więcej", routes_path, :class => "btn-base", :id => "last-routes-more" %>

	</div> <!-- END aside-content -->
	</div> <!-- END aside -->
	<div id="map"></div>
</div> <!-- END with-map -->
