<br />
<br />
<br />
<br />
<br />
<br />


<div id="workout_edit_form">
<%= form_for :workout do |f| %>
	<div id="workout_edit_time">
		<%= f.label :time_string, "Czas:" %>
		<%= f.text_field :time_string, :placeholder => "00:00:00" %>
		<span id="workout_edit_avg_speed">Średnia: <span id="workout_edit_avg_speed_val">--</span> km/h</span>
	</div>
	<div id="workout_edit_max">
		<%= f.label :max_speed, "Max:" %>
		<%= f.text_field :max_speed, :placeholder => "32" %>
		<%= f.label :pulse, "Tętno:" %>
		<%= f.text_field :pulse, :placeholder => "120/150" %>
	</div>
	<div id="workout_edit_temp">
		<%= f.label :temperature, "Temperatura:" %>
		<%= f.text_field :temperature, :placeholder => "25" %>
	</div>
	<div id="workout_edit_description">
		<%= f.label :description, "Opis:" %>
		<%= f.text_area :description, :rows => 3, :placeholder => "Opis przejazdu..." %>
	</div>
	<%= f.submit "Zapisz" %>
<% end %>
</div>
