<%= form_for @contact do |f| %>
	<div class="footer-form-col1">
		<div class="form-field">
			<%= f.label :name, 'Imię' %>
			<%= f.text_field :name, :placeholder => 'Imię' %>
		</div>
		<div class="form-field">
			<%= f.label :email, 'Email' %>
			<%= f.text_field :email, :placeholder => 'adres@email.com' %>
		</div>
	</div>
	<div class="footer-form-col2">
		<div class="form-field">
			<%= f.label :content, 'Wiadomość' %>
			<%= f.text_area :content, :placeholder => 'Wiadomość...' %>
		</div>
		<div class="form-btn">
			<%= f.submit "Wyślij" %>
		</div>
	</div>
<% end %>