<div id="infobox_show_photo">
<div id="photo_img">
  <div class="slides_container">
  
  <%= link_to (image_tag (url_for(:controller => :photos, :action => :photo_file, :id => @photo.id)), :size => "400x300", :alt => @photo.title), url_for(:controller => :photos, :action => :photo_file, :id => @photo.id), :class => "fancybox", :rel => "group" %>

  </div>
</div>
<div id="photo_info">


  <%= form_for @photo do |f| %>
    <%= f.label :title, "Tytuł zdjęcia:" %>
    <%= f.text_field :title, :placeholder => "Tytuł" %>
    <%= f.label :description, "Opis zdjęcia:" %>
    <%= f.text_area :description, :rows => 3, :placeholder => "Opis zdjęcia..." %>

    <%= f.submit "Edytuj zdjęcie" %>
  <% end %>
  <p class="user"><span>Użytkownik: </span><%= link_to @photo.user.username, user_path(@photo.user) %></p>
  <p class="route"><span>Trasa: </span><%= @photo.route.title %></p>
  <p class="coordinates"><span>Współrzędne: </span><%= @photo.lat_lng %></p>


</div>
</div>

