
<h3><%= @route.show_total_comments %> komentarzy</h3>
<ul id="comments-list">
<% @route.comments.each do |comment| %>
	<li>
		<%= hidden_field_tag "comment_id_#{comment.id}", comment.id %>
		<div class="comment-avatar"><%= link_to (user_avatar comment.user, "30x30"), user_path(comment.user) %></div>
		<div class="comment-body">
			<%= link_to comment.user.username, user_path(comment.user) %>
			<div class="comment-content"><%= comment.content %></div>
			<p class="comment-meta">Dodany <%= time_ago_in_words(comment.created_at) %> temu
			<% if current_user == comment.user %>
				<%= link_to "Edytuj", "/",:class => "edit_comment", :id => "edit_#{comment.id}" %>
			<% end %>
			</p>
		</div>
	</li>
<% end %>
</ul>
<% if current_user %>
<div id="add-comment">
	<h4>Dodaj komentarz</h4>
	<%= text_area(:comment, :content, :rows => 3, :placeholder => "Treść komentarza") %>
	<%= link_to "Dodaj", "#", :id => "add-comment-btn", :class => "btn-base" %>

</div>
<% else %>
	<p class="unlogged"><%= link_to "Zaloguj się by dodać komantarz" , signin_path %>
<% end %>