<ul>
<% routes.each do |route| %>
	<li><div class="route" id="route-home-<%= route.id %>">
		<div class="route-img">	
			<%= image_tag(route.create_static_map, :alt => route.title ) %>
		</div>
		<div class="route-info">
			<h4><%= link_to truncate(route.title, :length => 25), route_path(route.id) %></h4>
			<ul>
				<div class="profile-image <%= profile_image route %>"></div>
				<li><%= route.distance %> km, <%= route.surface %>, <%= route.altitude %> m </li>
				<li>Dodał <%= link_to route.user.username, user_path(route.user) %>, <%= time_ago_in_words(route.created_at) %> temu</li>
			</ul>
			<ul class="comment-likes">
				<li><span class="comment-icon"></span><%= route.total_comments %></li>
				<li><span class="like-icon"></span><%= route.total_likes %></li>
			</ul>
		</div>
	</div></li>
<% end %>
</ul>
