<ul>
<% routes.each do |route| %>
	<li><div class="route" id="route-home-<%= route.id %>">
		<div class="route-img">	
			<%= image_tag(route.create_static_map, :alt => route.title ) %>
		</div>
		<div class="route-info">
			<h4><%= link_to truncate(route.title, :length => 30), route_path(route.id), :title => route.title %></h4>
			<ul>
				<div class="profile-image <%= profile_image route %>"></div>
				<li><%= route.distance.round %> km, <%= route.surface %>, <%= route.altitude.round %> m </li>
				<li>Dodał <%= link_to truncate(route.user.username, :length => 13), user_path(route.user), :title => route.user.username %>, <%= time_ago_in_words(route.created_at) %> temu</li>
			</ul>
			<ul class="num-icons">
				<li><span class="workout-icon"></span><%= route.total_workouts || "0" %></li>
				<li><span class="like-icon"></span><%= route.total_likes || "0" %></li>
				<li><span class="comment-icon"></span><%= route.total_comments %></li>
			</ul>
		</div>
	</div></li>
<% end %>
</ul>
