<h3><%= @route.title %></h3>
		<div id="elevation-chart"></div>
		<%= hidden_field_tag 'load_coordinates', @route.id %>
		<%= hidden_field_tag 'route_distance', @route.distance %>
		<ul class="route-show">
				<li>
					<div class="th">Ocena: <% if @route.rating %>
					( <%= @route.ratings.count %> )
					<% end %>
					</div>
					<div class="td rating-div"><%= render 'rating_stars'%></div>
				</li>
				<li>
					<div class="th">Dystans:</div>
					<div class="td distance"><%= @route.distance %> km</div>
				</li>
				<li>
					<div class="th">Nawierzchnia:</div>
					<div class="td"><%= @route.surface%></div>
				</li>
				
				<li>
					<div class="th">Autor:</div>
					<div class="td"><%= link_to @route.user.username, user_path(@route.user) %></div>
				</li>
				<li>
					<div class="th">Data dodania:</div>
					<div class="td"><%= l @route.created_at.localtime, :format => "%y.%m.%d %H:%I" %></div>
				</li>
				<% unless @route.description.nil? || @route.description == "" %>
				<li class="description">
					<div class="th">Opis:</div>
					<div class="td"><%= @route.description %></div>
				</li>
				<% end %>
				<% if @route.max_altitude %>
				<li id="altitude">
					<div class="th">Różnica wysokości:</div>
					<div class="td"><%= (@route.max_altitude - @route.min_altitude).round(2) %> m </div>
					<span class="small-arrow"></span>
				</li>
				<div class="altitude-extra"> 
					<li>
						<div class="th">Suma podjazdów:</div>
						<div class="td"><%= @route.total_climb_up.round(2) %> m</div>
					</li>
					<li>
						<div class="th">Suma zjazdów:</div>
						<div class="td"><%= @route.total_climb_down.round(2) %> m</div>
					</li>
					<li>
						<div class="th">Minimalna wysokość:</div>
						<div class="td"><%= @route.min_altitude.round(2) %> m</div>
					</li>
					<li>
						<div class="th">Maksymalna wysokość:</div>
						<div class="td"><%= @route.max_altitude.round(2) %> m</div>
					</li>
				</div>
				<% end %> 

		</ul>