<table class="routes-index big-table">
	<thead>
		<tr>
			<th></th>
			<th class="ajax"><%= sortable 'Nazwa', 'title' %></th>
			<th class="ajax"><%= sortable 'Dystans', 'distance' %></th>
			<th class="ajax"><%= sortable 'Wzniesienia', 'max_altitude' %></th>
			<th class="ajax"><%= sortable 'Nawierzchnia', 'surface' %></th>
			<th class="ajax"><%= sortable 'Ocena', 'rating' %></th>
			<th class="ajax"><%= sortable 'Data dodania', 'created_at' %></th>
			<th class="ajax"><%= sortable 'Użytkownik', 'user_id' %></th>
			<th class="ajax"><%= sortable 'Przejazdy', 'total_workouts' %></th>
			<th class="ajax like"><span><%= sortable '', 'total_likes' %></span></th>
			<th class="ajax comments"><span><%= sortable '', 'total_comments' %></span></th>
		</tr>
	</thead>
	<tbody>
	<% i = 0 %>
	<% if params[:page] %>
		<% i = i + ((params[:page].to_i - 1) * 10) %>
	<% end %>
	<% @routes.each do |route| %>
		<tr>
			<td><%= i += 1 %></td>
			<td class="title"><%= link_to route.title, route_path(route) %></td>
			<td class="distance"><%= route.distance %> km</td>
			<td class="altitude"><%= route.altitude %> m</td>
			<td class="surface"><%= route.surface%></td>
			<td class="rating">
				<ul class="rating <%= route.id %>">
					<li class="val"><%= route.rating %></li>
					<li class="1">1</li>
					<li class="2">2</li>
					<li class="3">3</li>
					<li class="4">4</li>
					<li class="5">5</li>
				</ul>
			</td>

			<td class="created_at"><%= time_ago_in_words(route.created_at) %></td>
			<td class="user"><%= link_to route.user.username, user_path(route.user) %></td>
			<td class="workouts"><%= route.total_workouts || 0 %></td>
			<td class="like"><%= route.show_total_likes %></td>
			<td class="comments"><%= route.show_total_comments %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<%= will_paginate %>