<%= render 'shared/with_map' %>
	

	

<% if @route.errors.any? %>
	<div id="error_explanation"
		<ul>
			<% @route.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>














	<div id="route-new">
		
		<div id="route-new-draw">
			<%= link_to "Rysuj", "#", :id => "draw-route-btn", :class => "btn-base" %>
			<span>lub</span>
			<%= link_to "Wgraj z pliku", "#"%>


			<div id="draw-controls">
				<%= link_to "Przyciągaj do dróg", "#", :id => "snap" %>
				<%= link_to "Usuń wszystki punkty", "#", :id => "delete-path" %>
			</div>

		</div><!-- /route-new-draw -->
		<p class='distance'><span class="label">Dystans:</span><span class="value">0</span> <span class="km">km</span></p>

		<div id="route-form">
		<%= form_for(@route) do |f| %>
				<%= f.hidden_field :coordinates_string %>
				<%= f.hidden_field :distance %>
				<%= f.hidden_field :total_time %>
				<%= f.hidden_field :max_altitude %>
				<%= f.hidden_field :min_altitude %>
				<%= f.hidden_field :total_climb_up %>
				<%= f.hidden_field :total_climb_down %>
				<%= f.hidden_field :start_lat_lng %>
				<%= f.hidden_field :finish_lat_lng %>
			<div class="form-field">
				<%= f.label :title, "Nazwa trasy:" %>
				<%= f.text_field :title, :placeholder => "Nazwa trasy" %>
				<p class="error-explanation">Nazwa trasy</p>
			</div>
			<div class="form-field">
				<%= f.label :description, "Opis trasy:" %>
				<%= f.text_area :description, :rows => 5, :placeholder => "Opis trasy..." %>
			</div>
			<div class="form-field">
				<%= f.label :surface, "Nawierzchnia:" %>
				<%= f.select :surface, {:mieszana => "mieszana", :asfalt => "asfalt", :leśna => "leśna" }%>
			</div>

			<%= link_to "Pokaż dodatkowe opcje", "#", :id => "show-extra" %>
			<div id="route-new-extra">
				<div class="form-field">
					<%= f.label :time_string, "Czas:" %>
					<%= f.text_field :time_string, :placeholder => "00:00:00" %>
					<span id="total-time-show"><span id="total-time-show-h">0</span>h <span id="total-time-show-m">0</span>m <span id="total-time-show-s">0</span>s</span>

					<p id="error-explanation-time" class="error-explanation">Godziny minuty sekundy</p>
					<div class="clear"></div>
				</div>
				<div class="form-field">
					<%= f.label :max_speed, "Max (km/h):" %>
					<%= f.text_field :max_speed, :placeholder => "32" %>
					<p id="error-explanation-max-speed" class="error-explanation">Liczba dodatnia ale bez przesady</p>
				</div>
				<p class='avg_speed'><span class="label">Średnia:</span><span class="value">0</span> <span class="km"> km/h</span></p>
				<%= f.hidden_field :avg_speed %>

				<div class="form-field">
					<%= f.label :pulse, "Tętno:" %>
					<%= f.text_field :pulse, :placeholder => "120/150" %>
					<p id="error-explanation-pulse" class="error-explanation">Średni puls / maksymalny</p>
				</div>
				<div class="form-field">
					<%= f.label :temperature, "Temperatura:" %>
					<%= f.text_field :temperature, :placeholder => "25" %>
					<p class="error-explanation">Liczba stopni (. nie ,)</p>
				</div>

			</div>
			

			
			<div class="form-btn">
				<%= f.submit "Zapisz Trasę", :class => "btn-big" %>
			</div>

		<% end %>
		</div><!-- /route-form -->
	</div><!-- /route-new -->
	</div><!-- aside-content -->
	</div><!-- aside -->
	<div id="map"></div>

</div>