<div id="with-map">
	<div id="aside">
		<div id="aside-content">
			<%= render 'shared/search_title' %>
			<h2 class="title-aside clear"><%= @title_header %></h2>
			
			<div id="route-show">
				<%= render 'route_show' %>
			</div><!-- /route-show -->
			<div class="clear"></div>
			<% if current_user == @route.user %>
				<%= link_to "Edytuj", edit_route_path(@route), :id => "edit-route-btn" %>
				<% end %>
			
				
				<%= link_to (image_tag "chart-icon.png"), "#", :id => "show-elevation" %>
			<div class="route-show-options">
				<%= link_to "Komentarze", "#", :id => "show-comments", :class => "btn-base" %>
				<div id="add-favorite">
				
					<%= link_to "Dodaj", "#", :title => "Dodaj do ulubionych" %>
					<span>Dodaj do ulubionych</span>
				</div>
			</div>
			<div id="comments-container" class="clear">
				<%= render 'comments' %>
			</div><!-- /comments-container -->

		</div><!-- aside-content -->
	</div><!-- aside -->
	<div id="map"></div>
</div>