<!DOCTYPE html>
<html lang="pl">
<head>
<title>76 - trasy rowerowe</title>
<meta charset="UTF-8">
<%= stylesheet_link_tag "style" %>
<%= javascript_include_tag "jquery.min.js", "jquery_ujs", "https://www.google.com/jsapi?key=ABQIAAAA2hxUANQpiEY11RjejenhRBRb54AQNqCZRXuTMmbA220GtRj0ZhSF-MAysOVLiEADfvT5215qtzFnLw", "http://maps.googleapis.com/maps/api/js?key=AIzaSyDpYrwGCPrrX6-6VJoQFrBmQOxBXtAAq7E&sensor=false&libraries=geometry", "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js", "infobox", "markerclusterer_packed", "jquery.fancybox.pack", "slides.min.jquery", "highcharts", "rating", "comment", "edit_user", "route_ajax", "stats", "climbs", "workouts", "jquery.ba-resize.min", "tag-it","application" %>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<%= csrf_meta_tag %>
</head>
<body>
	<div id="ajax-status"></div>
	<%= render 'layouts/header' %>
	<div id="container">
		<% flash.each do |key, value|%>
		<div class="flash <%= key %>">
			<%= value %>
		</div>
		<% end %>
		<%= yield %>
		<div class="clear"></div>
	</div>
	<%= render 'layouts/footer' %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30579245-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>