<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Seven6</title>
	<meta charset="UTF-8">
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, "http://maps.googleapis.com/maps/api/js?sensor=false", "add_route" %>
  <%= csrf_meta_tag %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div id="container">
		<% flash.each do |key, value|%>
		<div class="flash <%= key %>">
			<%= value %>
		</div>
		<% end %>
		<%= yield %>
		<div class="clear"></div>
		
	</div>
	<%= render 'layouts/footer' %>
	<%= debug(params) if Rails.env.development? %>
</body>
</html>
